* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #1d164d;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2em;
}

p,
span {
  color: #9e9baf;
  font-size: 1.2em;
  line-height: 1.6em;
  letter-spacing: 0.05em;
}

button {
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
  background: #badc58;
  border-radius: 8px;
  border: 2px solid #badc58;
}

input {
  font-size: 1.2em;
  padding: 1em;
  border: 2px solid #1d164d;
  border-radius: 8px;
  margin-right: 1em;
}
input::placeholder {
  color: #b4b4b4;
}
