* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #1d164d;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2em;
}

p,
span {
  color: #9e9baf;
  font-size: 1.2em;
  line-height: 1.6em;
  letter-spacing: 0.05em;
}

button {
  cursor: pointer;
}
